---
/**
 * 	Navbar 导航栏组件
 *
 * ------------------------------------------------------------
 *
 * 	Copyright © 2024 湖南大沥网络科技有限公司.
 *
 * 	  author:	木炭(WOODCOAL)
 * 	   email:	i@woodcoal.cn
 * 	homepage:	http://www.hunandali.com/
 *
 * ------------------------------------------------------------
 */

import { globalId, hasArray, hasObject } from '@da.li/core-libs';
import { ClassClear } from '../../libs';
import type { ILink, ISize, IThemeFull } from '../../types';
import Icon from '../Icon.astro';
import NavMenu, { type NavbarItem } from './menus.astro';
import Link from '../Link.astro';

export interface Props {
	/** 导航栏品牌/标题 */
	brand?: ILink;

	/** 切换按钮(开启或者图标) */
	toggler?: boolean | string;

	/** 导航项 */
	items?: NavbarItem[];

	/** 导航栏颜色主题 */
	theme?: IThemeFull;

	/** 导航栏位置 */
	placement?: 'fixed-top' | 'fixed-bottom' | 'sticky-top' | 'sticky-bottom';

	/** 导航栏展开断点 */
	expand?: ISize | 'xxl';

	/** 是否整个页面宽度 */
	size?: ISize | 'xxl' | 'fluid' | 'auto';

	/** 布局类型 */
	layout?: 'horizontal' | 'vertical' | 'multiple';

	/** 是否透明，及与背景一致 */
	transparent?: boolean;

	/** 自定义标签 */
	element?: string;

	/** 菜单表示，用于切换导航栏 */
	id?: string;

	/** 移动菜单模式：ture 左侧滑出，false 顶部弹出 */
	mobileAppMenu?: boolean;

	/** 自定义类名 */
	class?: string;
}

const {
	layout,
	element = 'nav',
	brand,
	toggler = true,
	items = [],
	theme,
	placement,
	expand = 'lg',
	size = 'auto',
	class: className = '',
	transparent = false,
	mobileAppMenu = false,
	id,
	...props
} = Astro.props;

/**
 * 构建类名
 * @param isMenu 是否为多行时的菜单导航栏
 */
const classList = (isMenu: boolean) => {
	// 非多行没有单独的菜单栏
	if (layout !== 'multiple') isMenu = false;

	const list = [
		'navbar',
		layout === 'vertical' && 'navbar-vertical',
		expand && `navbar-expand-${expand}`,
		mobileAppMenu ? 'sticky-top' : placement,
		(mobileAppMenu || layout === 'multiple') && 'navbar-mobile',
		className
	];

	if (isMenu) {
		list.push('navbar-multiple');

		// 菜单栏
		if (transparent && !theme) {
			list.push('navbar-transparent');
		}
		theme !== 'dark' && list.push(`bg-${theme}`);
	} else {
		// LOGO 栏
		if (transparent) {
			list.push('navbar-transparent');
			theme && list.push(`navbar-${theme}`);
		} else {
			theme && theme !== 'dark' && list.push(`bg-${theme}`);
		}
	}

	return ClassClear(list);
};

// 生成唯一ID
const navbarId = id ? 'navbar' : globalId('navbar');

const Element = element || 'nav';
const ElementProps = {
	...props,
	class: classList(false),
	'data-bs-theme': theme === 'dark' && !transparent ? 'dark' : undefined
};

const NavProps = {
	...props,
	class: classList(true),
	'data-bs-theme': theme === 'dark' ? 'dark' : undefined
};

/** 页面宽度布局 */
const containerClass = size && size !== 'auto' ? `container-${size}` : 'container';
---

<Element {...ElementProps}>
	<div class={containerClass}>
		<!-- 切换开关 -->
		{
			toggler && (
				<button
					class="navbar-toggler order-0"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target={`#${navbarId}`}
					aria-controls={navbarId}
					aria-expanded="false"
					aria-label="切换导航">
					{toggler === true ? (
						<span class="navbar-toggler-icon" />
					) : (
						<Icon icon={toggler} />
					)}
				</button>
			)
		}

		<!-- 品牌 -->
		{
			Astro.slots.has('brand') ? (
				<div class="navbar-brand order-1">
					<slot name="brand" />
				</div>
			) : (
				hasObject(brand) && <Link class="navbar-brand order-1" {...brand} />
			)
		}

		<!-- 导航 -->
		{
			layout !== 'multiple' && (
				<div
					class="collapse navbar-collapse order-3 mx-lg-4"
					class:list={[layout !== 'vertical' && 'order-lg-2']}
					id={navbarId}>
					<slot name="navStart" />
					{hasArray(items) && (
						<NavMenu items={items} class="navbar-nav flex-fill" porpsOnItem />
					)}
					<slot name="navEnd" />
				</div>
			)
		}

		<!-- 其他自定义 -->
		{
			Astro.slots.has('default') && (
				<div
					class="navbar-end order-2"
					class:list={[layout !== 'vertical' && 'order-lg-3']}>
					<slot />
				</div>
			)
		}
	</div>
</Element>

{
	layout === 'multiple' && (
		<Element {...NavProps}>
			<div class={containerClass}>
				<div class="navbar-collapse collapse" id={navbarId}>
					<slot name="navStart" />
					{hasArray(items) && (
						<NavMenu items={items} class="navbar-nav flex-fill" porpsOnItem />
					)}
					<slot name="navEnd" />
				</div>
			</div>
		</Element>
	)
}

<style lang="less" is:global>
	.navbar {
		// 容器区域必须设置尺寸，否则下级获取不到尺寸
		> div {
			height: 100%;
			width: 100%;

			.navbar-collapse.show {
				background: var(--tblr-navbar-bg);

				.nav-item {
					&.active {
						border-left: 3px var(--tblr-border-style)
							var(--tblr-navbar-active-border-color);

						.nav-link {
							color: var(--tblr-navbar-active-color);
						}
					}
				}
			}
		}

		// 透明导航
		&.navbar-transparent {
			--tblr-navbar-color: var(--tblr-secondary) !important;
			--tblr-navbar-active-color: var(--tblr-body-color) !important;

			.nav {
				padding-right: calc(var(--tblr-gutter-x) * 0.5);
				padding-left: calc(var(--tblr-gutter-x) * 0.5);
			}

			&.navbar-expand-xxl {
				@media screen and (min-width: 1400px) {
					background-color: transparent !important;
				}
			}

			&.navbar-expand-xl {
				@media screen and (min-width: 1200px) {
					background-color: transparent !important;
				}
			}

			&.navbar-expand-lg {
				@media screen and (min-width: 992px) {
					background-color: transparent !important;
				}
			}

			&.navbar-expand-md {
				@media screen and (min-width: 768px) {
					background-color: transparent !important;
				}
			}

			&.navbar-expand-sm {
				@media screen and (min-width: 576px) {
					background-color: transparent !important;
				}
			}
		}

		// 垂直导航样式
		&.navbar-vertical {
			overflow: hidden !important;

			/** 菜单滚动条，导航不滚动 */
			.navbar-collapse {
				overflow: hidden !important;
				margin: 0 !important;
				height: 100%;
				width: 100%;

				.nav {
					flex-wrap: nowrap;
					width: 100%;
					height: 100%;
					overflow-y: auto;
				}
			}
		}

		// 多行导航样式
		&.navbar-multiple {
			@media screen and (max-width: 1399.98px) {
				position: fixed;
				top: 0;
				left: -100%;
				z-index: 1000;
			}

			&.navbar-expand-xl {
				@media screen and (min-width: 1200px) {
					position: unset !important;
				}
			}

			&.navbar-expand-lg {
				@media screen and (min-width: 992px) {
					position: unset !important;
				}
			}

			&.navbar-expand-md {
				@media screen and (min-width: 768px) {
					position: unset !important;
				}
			}

			&.navbar-expand-sm {
				@media screen and (min-width: 576px) {
					position: unset !important;
				}
			}
		}

		// 移动左侧滑出菜单样式
		&.navbar-mobile {
			@media screen and (max-width: 1399.98px) {
				.navbar-collapse {
					display: flex;
					position: fixed;
					top: 0;
					left: -100%;
					height: 100vh;
					width: 15rem;
					background: var(--tblr-navbar-bg);
					transition: left 0.3s ease-in-out;
					box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
					z-index: 99999999;

					&.show {
						left: 0;

						&::before {
							content: '';
							position: fixed;
							left: 0;
							top: 0;
							width: 100vw;
							height: 100vh;
							background-color: rgba(0, 0, 0, 0.5);
							z-index: -1;
						}
					}

					> * {
						background: inherit !important;
						width: 100%;
					}

					.nav {
						padding: 0.25rem;
					}
				}
			}

			&.navbar-expand-sm {
				@media screen and (min-width: 576px) {
					.navbar-collapse {
						position: inherit;
						background-color: inherit;
						box-shadow: none;
						height: auto;
						width: 100%;

						> * {
							width: auto;
						}
					}
				}
			}

			&.navbar-expand-md {
				@media screen and (min-width: 768px) {
					.navbar-collapse {
						position: inherit;
						background-color: inherit;
						box-shadow: none;
						height: auto;
						width: 100%;

						> * {
							width: auto;
						}
					}
				}
			}

			&.navbar-expand-lg {
				@media screen and (min-width: 992px) {
					.navbar-collapse {
						position: inherit;
						background-color: inherit;
						box-shadow: none;
						height: auto;
						width: 100%;

						> * {
							width: auto;
						}
					}
				}
			}

			&.navbar-expand-xl {
				@media screen and (min-width: 1200px) {
					.navbar-collapse {
						position: inherit;
						background-color: inherit;
						box-shadow: none;
						height: auto;
						width: 100%;

						> * {
							width: auto;
						}
					}
				}
			}
		}

		// 菜单尾部
		.navbar-end {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}

		// 菜单颜色
		@themes: primary, secondary, success, warning, danger, info, blue, azure, indigo, purple,
			pink, red, orange, yellow, lime, green, teal, cyan;
		each(@themes, {
			&.bg-@{value} {
				--tblr-navbar-bg:var(--tblr-@{value}-darken);
				--tblr-navbar-color: rgba(var(--tblr-@{value}-lt-rgb),0.75);
				--tblr-navbar-active-color: var(--tblr-@{value}-fg) ;
				--tblr-navbar-active-border-color: var(--tblr-navbar-color);
				--tblr-navbar-border-color: rgba(var(--tblr-@{value}-lt-rgb),0.05);

				background-color: var(--tblr-navbar-bg) !important;

				.nav{
					--tblr-nav-link-hover-color: var(--tblr-navbar-active-color);
				}
  
				.dropdown-menu {
					--tblr-dropdown-color: var(--tblr-@{value}-darken);
					--tblr-dropdown-bg: var(--tblr-@{value}-fg);
					--tblr-dropdown-link-hover-bg: rgba(var(--tblr-@{value}-rgb), 0.08);
					--tblr-dropdown-link-active-color: var(--tblr-@{value}-lt);
					--tblr-dropdown-link-active-bg: var(--tblr-@{value});
				}

			}

			[data-bs-theme=dark] &.bg-@{value},
			&[data-bs-theme=dark].bg-@{value} {
				--tblr-navbar-bg: var(--tblr-@{value}-lt);
				--tblr-navbar-color: var(--tblr-@{value}-darken);
				--tblr-navbar-active-color: var(--tblr-@{value});
				--tblr-navbar-border-color: rgba(var(--tblr-@{value}-rgb),0.15);

				.dropdown-menu {
				 	--tblr-dropdown-color: var(--tblr-@{value}-darken);
				 	--tblr-dropdown-bg: var(--tblr-@{value}-lt);
				 }
			}

			&.navbar-@{value} {
				--tblr-navbar-bg:var(--tblr-@{value}-darken);
				background-color: var(--tblr-navbar-bg) !important;
			}

			[data-bs-theme=dark] &.navbar-@{value},
			&[data-bs-theme=dark].navbar-@{value}{
				--tblr-navbar-bg: var(--tblr-@{value}-lt);
			}
		});
	}
</style>

<script>
	const elements = document.querySelectorAll('.navbar.navbar-mobile');
	if (elements.length) {
		elements.forEach((element) => {
			const navbar = element.querySelector(`.navbar-collapse`);
			if (!navbar) return;

			// 所有切换按钮
			const navId = navbar.id;
			const togglers = navId ? document.querySelectorAll(`[data-bs-target="#${navId}"]`) : [];

			// 获取body元素
			const body = document.body;

			// 监听菜单展开/关闭事件
			navbar.addEventListener('show.bs.collapse', () => {
				body.style.overflow = 'hidden';
			});

			navbar.addEventListener('hide.bs.collapse', () => {
				body.style.overflow = 'auto';
			});

			// 点击页面任意位置关闭菜单
			navbar.addEventListener('click', (event) => {
				// 导航菜单区域
				const nav = navbar.querySelector('.nav');
				if (!nav) return;

				// 当前点击项目
				const target = event.target as Element;

				// 非菜单区域才可以关闭菜单
				if (target === nav || !nav.contains(target)) {
					navbar.classList.remove('show');
					body.style.overflow = 'auto';

					// 同步更新切换按钮状态
					togglers &&
						togglers.length &&
						togglers.forEach((toggler) => {
							toggler.setAttribute('aria-expanded', 'false');
						});
				}
			});
		});
	}
</script>
