---
/**
 * 	Breadcrumb 面包屑
 *
 * ------------------------------------------------------------
 *
 * 	Copyright © 2024 湖南大沥网络科技有限公司.
 *
 * 	  author:	木炭(WOODCOAL)
 * 	   email:	i@woodcoal.cn
 * 	homepage:	http://www.hunandali.com/
 *
 * ------------------------------------------------------------
 */

import ICON from './Icon.astro';
import { ClassClear } from '../libs';
import type { ILink } from '../types';

export interface Props {
	/** 链接 */
	items: ILink[];

	/** 分隔符 */
	separator?: 'slash' | 'dot' | 'arrow' | 'bullet';

	/** 最后一个是否链接是否显示选中模式(选中则高亮) */
	showActive?: boolean;

	/** 自定义类名 */
	class?: string;
}

const {
	items,
	separator = 'slash',
	showActive = true,
	class: className,
	...props
} = Astro.props as Props;

const separatorClasses = separator != 'slash' ? `breadcrumb-${separator}s` : '';

const classList = ClassClear(['breadcrumb', separatorClasses, className]);
---

<ol class={classList} {...props}>
	{
		items.map((item, index) => (
			<li
				class={`breadcrumb-item${index === items.length - 1 && showActive ? ' active' : ''}`}>
				<a href={item.href} target={item.target}>
					<ICON icon={item.icon} text={item.text} theme={item.theme} />
				</a>
			</li>
		))
	}
</ol>
