---
/**
 * Switch - 切换开关组件
 *
 * ------------------------------------------------------------
 *
 * Copyright © 2024 湖南大沥网络科技有限公司.
 *
 *   author: 木炭(WOODCOAL)
 *    email: i@woodcoal.cn
 * homepage: http://www.hunandali.com/
 *
 * ------------------------------------------------------------
 */

import { ClassClear } from '../libs';

export interface Props {
	/** 是否选中 */
	checked?: boolean;

	/** 标签文本 */
	label?: string;

	/** 输入框名称 */
	name?: string;

	/** 是否显示开关 */
	showSwitch?: boolean;

	/** 自定义样式 */
	class?: string;
}

const {
	checked = false,
	showSwitch = true,
	label,
	name,
	class: className = '',
	...props
} = Astro.props;

const classList = ClassClear(['form-check form-switch a', !showSwitch && 'ps-0', className]);
const classInput = ClassClear(['form-check-input a', !showSwitch && 'd-none']);
---

<label class={classList} {...props}>
	<input type="checkbox" class={classInput} checked={checked} name={name} />
	{
		Astro.slots.has('default') ? (
			<span class="form-check-label">
				<slot />
			</span>
		) : (
			label && <span class="form-check-label">{label}</span>
		)
	}
</label>
