---
/**
 * 	Alert 警报
 *
 * ------------------------------------------------------------
 *
 * 	Copyright © 2024 湖南大沥网络科技有限公司.
 *
 * 	  author:	木炭(WOODCOAL)
 * 	   email:	i@woodcoal.cn
 * 	homepage:	http://www.hunandali.com/
 *
 * ------------------------------------------------------------
 */

import ICON, { type Props as IIcon } from '../components/Icon.astro';
import { getIcon } from '../icons';
import { ClassClear, ThemeIcon } from '../libs';
import type { AlertOptions } from '../types';

interface Props extends AlertOptions {
	/** 自定义类名 */
	class?: string;
}

const {
	theme: themeName,
	title,
	message,
	mini,
	icon: iconName,
	closeable = false,
	important = false,
	class: className,
	...props
} = Astro.props as Props;

const icon: IIcon = ThemeIcon(themeName);
const theme = icon.theme;
iconName && (icon.icon = getIcon(iconName) || icon.icon);
icon.text = title;
icon.bold = true;

// 构建 class 列表
// `alert-${theme}` 貌似在 1.1.1 版 Tabler 中失效了，后续看调整修改，先手动设置
const classList = ClassClear([
	'alert',
	mini && 'alert-mini',
	theme && `bg-${theme}-lt`,
	important && 'alert-important',
	closeable && 'alert-dismissible',
	className
]);

let messageStyle = 'mt-1 alert-message text-secondary';
theme !== 'secondary' && (messageStyle += ' ms-5');

if (icon.logo || icon.icon?.startsWith('logo-')) {
	icon.size = 6;
} else {
	icon.size = 4;
}
icon.fontSize = 4;

if (mini) {
	icon.size -= 1;
	icon.fontSize -= 1;
}
---

<div class={classList} role="alert" {...props}>
	{
		closeable && (
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" />
		)
	}
	<div class="d-block">
		<slot name="title"><ICON {...icon} /></slot>
		{
			Astro.slots.has('default') ? (
				<div class={messageStyle}>
					<slot />
				</div>
			) : (
				message && <div class={messageStyle}>{message}</div>
			)
		}
	</div>
</div>

<style lang="less" is:global>
	.alert {
		&.alert-mini {
			margin: 0.25rem;
			padding: 0.325rem;
			border-radius: var(--tblr-border-radius-sm);

			.btn-close {
				width: 0.5rem;
				height: 0.5rem;
				font-size: 0.5rem;
				margin: 0;
				padding: 0.625rem;
			}
			.d-block {
				display: flex !important;
				align-items: center;
				justify-content: flex-start;
				font-size: 0.75rem;
				width: 100%;
				padding-right: 2rem;

				.dl-icon {
					display: inline-block;
				}

				.alert-message {
					margin: 0 0 0 1rem !important;
					padding: 0 !important;

					flex: 1;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
	}
</style>
