---
/**
 * 	MessageModal 消息模态窗体
 *
 * ------------------------------------------------------------
 *
 * 	Copyright © 2024 湖南大沥网络科技有限公司.
 *
 * 	  author:	木炭(WOODCOAL)
 * 	   email:	i@woodcoal.cn
 * 	homepage:	http://www.hunandali.com/
 *
 * ------------------------------------------------------------
 */

import Icon from '../components/Icon.astro';
import Button from '../components/Button.astro';
import Input from '../forms/Input.astro';

import type { ModalOptions } from '../types';
import { ThemeIcon } from '../libs';

export interface Props extends Omit<ModalOptions, 'onConfirm' | 'onCancel' | 'onClose'> {
	/** 标识 */
	id?: string;

	/** 确认键点击后关闭窗口 */
	okClose?: boolean;
}

const {
	id,
	prompt,
	value,
	mask,
	icon: iconName,
	title,
	message,
	theme,
	showClose = true,
	textCancel = '取消',
	textConfirm = '确定',
	okClose = false
} = Astro.props;

const icon = ThemeIcon(theme);
if (iconName) {
	icon.icon = iconName;
	icon.logo = false;
}
---

<div class="modal fade" id={id} tabindex="-1" data-bs-backdrop={showClose ? 'true' : 'static'}>
	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="modal-content">
			{
				showClose && (
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"
					/>
				)
			}
			<div class={`modal-status bg-${icon.theme}`}></div>
			<div class="modal-body text-center py-6">
				<Icon {...icon} size={14} />
				<h2 class="mt-2 mb-4">{title}</h2>
				<div class="text-secondary"><slot>{message}</slot></div>
				{
					prompt && (
						<div class="d-flex justify-content-center mt-6">
							<div class="form-floating w-400">
								<Input
									type="text"
									class={`border-2 border-${icon.theme}`}
									value={value}
									mask={mask}
								/>
								<label class="fw-bold">{prompt === true ? '请输入' : prompt}</label>
							</div>
						</div>
					)
				}
			</div>
			<div class="modal-footer text-center">
				<div class="w-100">
					<slot name="footer">
						<div class="row">
							{
								showClose && (
									<div class="col">
										<Button
											data-bs-dismiss="modal"
											theme="default"
											class="w-100"
											text={textCancel}
										/>
									</div>
								)
							}
							<div class="col">
								{
									okClose ? (
										<Button
											data-bs-dismiss="modal"
											theme={icon.theme}
											class={showClose ? 'w-100' : 'w-50'}
											text={textConfirm}
										/>
									) : (
										<Button
											theme={icon.theme}
											class={showClose ? 'w-100' : 'w-50'}
											text={textConfirm}
										/>
									)
								}
							</div>
						</div>
					</slot>
				</div>
			</div>
		</div>
	</div>
</div>
