---
/**
 * 	PageHeader 页眉
 *
 * ------------------------------------------------------------
 *
 * 	Copyright © 2024 湖南大沥网络科技有限公司.
 *
 * 	  author:	木炭(WOODCOAL)
 * 	   email:	i@woodcoal.cn
 * 	homepage:	http://www.hunandali.com/
 *
 * ------------------------------------------------------------
 */

import { ClassClear } from '../libs';
import type { ISize, IThemeFull } from '../types';

export interface Props {
	/** 是否整个页面宽度 */
	size?: ISize | 'xxl' | 'fluid' | 'auto';

	/** 标题 */
	title: string;

	/** 标题描述 */
	description?: string;

	/** 副标题 */
	subtitle?: string;

	/** 样式 */
	theme?: IThemeFull;

	/**
	 * 是否显示遮罩层
	 * @default false
	 *
	 * false 不显示
	 * true 显示
	 * fixed 显示且固定位置，页面滚动也不变化
	 */
	overlayer?: boolean | 'fixed' | number;

	/** 自定义类名 */
	class?: string;
}

const {
	title,
	size,
	description,
	subtitle,
	theme,
	overlayer,
	class: className,
	...props
} = Astro.props as Props;

/** 页面宽度布局 */
const containerClass = size && size !== 'auto' ? `container-${size}` : 'container';

const classList = ClassClear(['page-header', theme && `bg-${theme}`, className]);
const overlayerClass = ClassClear([
	'page-header-overlayer',
	theme && `bg-${theme}`,
	overlayer === 'fixed' ? 'position-fixed' : 'position-absolute'
]);
---

<header class={classList} {...props}>
	{overlayer && <div class={overlayerClass} />}
	<div class={containerClass}>
		<div class="row align-items-center">
			{
				Astro.slots.has('icon') && (
					<div class="col-auto">
						<slot name="icon" />
					</div>
				)
			}

			<div class="col">
				{description && <div class="page-pretitle">{description}</div>}
				<h2 class="page-title">{title}</h2>
				{subtitle && <div class="page-subtitle">{subtitle}</div>}
				{
					Astro.slots.has('subtitle') && (
						<div class="page-subtitle">
							<slot name="subtitle" />
						</div>
					)
				}
			</div>
			{
				Astro.slots.has('default') && (
					<div class="col-auto ms-auto">
						<slot name="default" />
					</div>
				)
			}
		</div>
	</div>
</header>

<style lang="less" is:global>
	.page-header {
		padding: var(--tblr-page-padding-y) 0;
		margin: 0 !important;

		.page-header-overlayer {
			top: 0;
			left: 0;
			width: 100%;
			height: 15rem;
			display: block;
			z-index: -1;
			//border-radius: var(--tblr-border-radius-sm);
		}

		// 菜单颜色
		@themes: primary, secondary, success, warning, danger, info, blue, azure, indigo, purple,
			dark, pink, red, orange, yellow, lime, green, teal, cyan;
		each(@themes, {
			&-overlayer.bg-@{value},
			&.bg-@{value} {
				--tblr-bg:var(--tblr-@{value}-darken);
				background-color: var(--tblr-bg) !important;
				color: var(--tblr-light) !important;
			}

			[data-bs-theme=dark] &-overlayer.bg-@{value},
			[data-bs-theme=dark] &.bg-@{value},
			&[data-bs-theme=dark].bg-@{value} {
				--tblr-bg:var(--tblr-@{value}-lt);
				
			}
		});
	}
</style>
